.currency {
  &-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;

    &-item {
      button {
        border: 1px solid black;
        border-radius: 4px;
        text-transform: uppercase;
        background-color: lightgray;
        cursor: pointer;
      }
    }

    &-item-active {
      button {
        font-weight: 700;
        background-color: lightblue;
      }
    }
  }
}
